@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.sale-triangle::after, .sale-triangle::before {
  position: absolute;
  content: '';
  bottom: -0.4rem;
  width: 0px;
  height: 0px;
  border-bottom: 0.5rem solid transparent;
}

.sale-triangle::before {
  right: 0;
  border-left: 0.91rem solid #bd8448;
  border-right: 0.90rem solid transparent;
}

.sale-triangle::after {
  left: 0;
  border-left: 0.90rem solid transparent;
  border-right: 0.91rem solid #bd8448;
}

.sale-card:hover > .sale-card-bottom > .sale-card-bottom-effect > .sale-card-addtocart {
  transform: translateX(0);
  opacity: 1;
}

.sale-card:hover > .sale-card-bottom > .sale-card-bottom-effect > .sale-card-price {
  transform: translateY(-50%);
  opacity: 0;
}

.sale-card {
  position: relative;
}

.sales-second-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.sale-card:hover > .sales-second-image {
  opacity: 1;
}

/* .sale-card:hover > .sales-main-image {
  opacity: 0;
  display: none;
}

.sale-card:hover > .sales-second-image {
  opacity: 1;
  display: block;
} */

.sale-card:hover > .sales-secondary-buttons {
  opacity: 1;
  transform: rotate(0deg);
}


.sale-card-price {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s linear, transform 0.3s linear;
}

.sale-card-addtocart {
  position: absolute;
  opacity: 0;
  left: 8px;
  transform: translateX(200%);
  transition: transform 0.3s linear, opacity 0.3s linear, color 0.2s linear;
  cursor: pointer;
}

.sale-card-addtocart:hover {
  color: #bd8448;
}

.sale-card-addtocart::before {
  position: absolute;
  content: "";
  width: 100%;
  opacity: 0;
  bottom: 0;
  height: 1px;
  background: #bd8448;
  transition: opacity 0.2s linear;
}

.sale-card-addtocart:hover::before {
  opacity: 1;
}

.swiper-skeleton-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--swiper-navigation-size) / 44 * 55);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  background: #0000002e;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .sales-main-image {
  display: block;
  transition: opacity 0.3s linear;
}

.sales-second-image{
  display: none;
  opacity: 0;
  transition: opacity 0.3s linear;

} */

.sales-secondary-buttons {
  right: 3%;
  transform: translateX(10%) rotate(50deg);
  opacity: 0;
  z-index: 3;
  cursor: pointer;
  transition: opacity 0.2s linear, transform 0.3s linear, color 0.3s linear, border-color 0.3s linear;
}

.sales-secondary-buttons:hover {
  color: #bd8448;
  border-color: #bd8448;
}

.swiper-skeleton-bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: #0000002e;
  width: 48px;
  height: 16px;
  border-radius: 5px;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--swiper-navigation-size) / 44 * 55) !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  background: #0000002e;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  transition: opacity 0.3s linear, background 0.2s linear;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next:hover, .swiper-button-prev:hover {

  background: #000000d5;
}

.swiper-button-prev::after{
  content: '\21BC' !important;

}

.swiper-button-next::after{
  content: '\21C0' !important;
}

.swiper:hover > .swiper-button-next, .swiper:hover > .swiper-button-prev {
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #000000d5 !important;
}

.footer-nav > div > ul > li:hover > a,
.social-links > a {
  transition: color 0.3s linear;
}

.footer-nav > div > ul > li:hover > a,
.social-links > a:hover {
  color: #bd8448;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #232323;
}
