@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.swiper-skeleton-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--swiper-navigation-size) / 44 * 55);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  background: #0000002e;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-skeleton-bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: #0000002e;
  width: 48px;
  height: 16px;
  border-radius: 5px;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--swiper-navigation-size) / 44 * 55) !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  background: #0000002e;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  transition: opacity 0.3s linear, background 0.2s linear;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next:hover, .swiper-button-prev:hover {

  background: #000000d5;
}

.swiper-button-prev::after{
  content: '\21BC' !important;

}

.swiper-button-next::after{
  content: '\21C0' !important;
}

.swiper:hover > .swiper-button-next, .swiper:hover > .swiper-button-prev {
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #000000d5 !important;
}